table,
tr,
td,
th {
  border: 5px solid black;
  border-collapse: collapse;
}
html {
  height: 100%;
}
body {
  background-image: linear-gradient(
    to bottom right,
    #0c1013,
    #faeeb3,
    #e0c993,
    rgb(244, 187, 173)
  );
}
b {
  color: white;
}
#font{
    font-family: "Times New Roman", "Brush Script MT", cursive;
}
